spring:
  docker:
    compose:
      enabled: false
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  flyway:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
